<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
    <listener class-name="TestFile.Listeners"/>
  </listeners>
  
  <test  name="Test">
    <classes>
      <class name="TestFile.LoginPageTest">
         <methods>
             <include name="verify_url"/>
             <include name="verify_required_field_alert_is_displayed_for_empty_username_field"/>
             <include name="verify_required_field_alert_is_displayed_for_empty_password_field"/> 
             <include name="verfiy_required_field_alert_is_displayed_for_empty_username_and_password_field"/>
             <include name="verify_required_field_alert_is_not_displayed_after_refresh"/>
             <include name="verify_user_should_not_able_to_login_with_invalid_credentials"/>
             <include name="verify_invalid_credentials_alert_is_not_displayed_after_page_refresh"/>
             <include name="verify_user_redirects_to_reset_password_page_after_click_on_forgot_password"/>
             <include name="verify_user_redirects_to_dashboard_after_login_with_valid_credentials"/>
             <include name="verify_user_profile_name_for_logged_in_account"/>
             <include name="verify_user_can_logged_out_from_account_successfully"/>
             
         </methods>
      </class>
      
      <class name="TestFile.DashboardPageTest">
        <methods>
             <include name="verify_user_after_login_redirects_to_dashboard_page"/>
             <include name="verify_total_images_count_on_dashboard"/>
             <include name="verify_image_link_on_dashboard_is_not_broken"/>
             <include name="verify_links_count_on_dashboard"/>
             <include name="verify_links_on_dashboard_are_not_broken"/>
             <include name="verify_widgets_count_on_dashboard"/>
             <include name="verify_widgets_count_on_dashboard"/>
             <include name="verify_submenu_options_under_my_account_tab"/>
             <include name="verify_about_us_window_popup_is_opened"/>
             <include name="verify_list_items_under_my_action_widget"/>
             <include name="verify_list_items_under_quicklaunch_widget"/>
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
